* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

h2,h3,h4,h5 {
    margin-bottom: 10px;
    text-align: center;
    
}

header {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #98DED9;
    color: #292A6B;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.categories {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
.category {
    text-align: center;
    width: 176px; 
    margin-right: 100px;
  }
  
 .category img {
    width: 100%;
    height: auto;
  }

.caption{
    color: black;
    font-size: 20px;
}
  

ul {
    padding-top: 40px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
    text-align: center;
}

.Hero {
    display: inline-block;
    height: 522px;
    width: 100%;
    background-image: url("../images/jk-placeholder-image.jpg");
    background-size: cover;
    background-position: left;
}


h3{
    color: white;
}

h4{
    color:#292A6B;
    font-size: 36px;
}

#content-text{
    color: white;
    padding: 60px 100px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #292A6B;
}

#first-paragraph{
    text-align: left;
}

.second-section{
    color: #292A6B;
    background-color: #98DED9;
    padding: 100px;
    height: 279px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.team-members{
    color: #292A6B;
    background-color: white;
    padding: 60px;
    height: 800px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-testimonial{
    width: 100%;
    height: 268px;
    background-color: #292A6B;
    background-image: url(".assets/images/pexels-tima-miroshnichenko-6389079.jpg");
}

.second-testimonial{
    width: 100%;
    height: 268px;
    background-color: #292A6B;
    background-image: url(".assets/images/pexels-tima-miroshnichenko-6389079.jpg");
}
.testimonial-context{
   color: white;
   padding: 100px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.help-section{
    height: 923px;
    background-color: #98DED9;

}

#help-title{
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h6{
    font-size: 24px;
    color: black;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #98DED9;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}



